# Supabase Configuration
VITE_SUPABASE_URL=https://zxisflxmprcbjggsneja.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp4aXNmbHhtcHJjYmpnZ3NuZWphIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg3NTk2NDMsImV4cCI6MjA4NDMzNTY0M30.XvcnzekEHcZzJfMctF_GKYsB_PMEU9H4vcY2J2_C7MM

# n8n Webhook Base URL
VITE_N8N_BASE_URL=https://n8n-lmwbkwajxjnu.pempek.sumopod.my.id

# WAHA WhatsApp API Configuration
VITE_WAHA_URL=https://waha-qikiufjwa2nh.cgk-max.sumopod.my.id
VITE_WAHA_API_KEY=5rMMXHU07G5F0cqj5QBcVjFeLCIdSWLI
VITE_WAHA_SESSION=bayyan-ai
