# Dependencies
node_modules/

# Build output
dist/
.vite/

# Environment variables
.env
.env.local
.env.*.local

# Local Netlify folder
.netlify

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
